{% extends 'base_auth.html' %}

{% block title %}
    Авторизация
{% endblock %}

{% block content %}
    <h2 class="text-center mb-4">Авторизация</h2>
    {% for field in form %}
        <div class="form-group mt-2">
            {{ field.label_tag }}
            {{ field }}
            {% if field.name == 'password' %}
                {{ form.password.errors }}
            {% elif field.name == 'phone_number' %}
                {{ form.phone_number.errors }}
            {% endif %}
        </div>
    {% endfor %}
    <div class="form-group mt-3 d-flex justify-content-between">
         <button type="submit" class="btn btn-primary btn-block">Войти</button>
		 <a href="{% url 'register' %}" class="btn btn-secondary ml-auto">Зарегистрироваться</a>
    </div>
{% endblock %}
