{% load static %}

<div class="global-navbar">
  <header
    class="navbar navbar-expand-sm navbar-light bg-light d-flex align-items-center border-bottom py-2 mb-4"
    role="navigation"
  >
    <div class="container">
      <a
        href="{% url 'rooms_list_url' %}"
        class="navbar-brand d-flex align-items-center me-auto text-dark text-decoration-none"
      >
        <img
          src="{% static 'img/SevSU-Logo.png' %}"
          width="90"
          height="60"
          alt="SevSU"
          loading="lazy"
        />
        BRONb
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            {% if active_page == 'rooms_list' %}
            <a href="{% url 'rooms_list_url' %}" class="nav-link active"
              >Помещения</a
            >
            {% else %}
            <a href="{% url 'rooms_list_url' %}" class="nav-link"
              >Помещения</a
            >
            {% endif %}
          </li>
          <li class="nav-item">
            {% if active_page == 'profile' %}
            <a href="{% url 'profile_url' %}" class="nav-link active"
              >Личный кабинет</a
            >
            {% else %}
            <a href="{% url 'profile_url' %}" class="nav-link"
              >Личный кабинет</a
            >
            {% endif %}
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link">
              Выйти</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </header>
</div>
