{% extends 'room/base_room.html' %}

{% block title %}
  {{ block.super }} - Админ панель
{% endblock %}


{% block content %}
{{block.super}}

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Заявки на бронирование помещений:</h2>
      <table class="table  mt-4">
        <thead>
          <tr>
            <th scope="col">Пользователь</th>
            <th scope="col">Номер телефона</th>
            <th scope="col">Помещение</th>
            <th scope="col">Дата</th>
            <th scope="col">Время</th>
            <th scope="col">Статус</th>
            <th scope="col">Действия</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for booking in bookings %}
            {% if booking.status == 'Рассматривается' %}
              <tr>
                <td>{{ booking.user.first_name }} {{ booking.user.last_name }} {{ booking.user.middle_name }}</td>
                <td>{{ booking.user.phone_number }}</td>
                <td>{{ booking.room.title }}</td>
                <td>{{ booking.booking_date.day.date|date:"d.m.Y" }}</td>
                <td>{{ booking.booking_date.start_time }} - {{ booking.booking_date.end_time }}</td>
                <td>{{ booking.status }}</td>
                <form method="POST" action="{% url 'change_booking_status_url' booking_id=booking.id %}">
                {% csrf_token %}
                  <td>
                    <select  class="form-select" name="status">
                      <option value="Рассматривается">Рассматривается</option>
                      <option value="Одобрено">Одобрено</option>
                      <option value="Отклонено">Отклонено</option>
                    </select>
                  </td>
                  <td>
                    <button class="btn btn-primary btn-sm" type="submit">Изменить статус</button>
                  </td>
                </form>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}