{% extends 'room/base_room.html' %}

{% block title %}
  {{ block.super }} - Личный кабинет
{% endblock %}

{% block content %}
{{block.super}}

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Мои заявки на бронирование помещений:</h2>
      <table class="table table-striped mt-4">
        <thead>
          <tr>
            <th scope="col">Название помещения</th>
            <th scope="col">Дата бронирования</th>
            <th scope="col">Статус</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for booking in bookings %}
          <tr>
            <td>{{ booking.room.title }}</td>
            <td>{{ booking.booking_date.day.date|date:"d.m.Y" }}
                {{ booking.booking_date.start_time }} - {{ booking.booking_date.end_time }}</td>
            <td>{{ booking.status }}</td>
            {% if booking.status == 'Рассматривается' %}
              <td><a href="{% url 'cancel_booking_url' booking_id=booking.id %}" class="btn btn-danger btn-sm">Отозвать</a></td>
            {% endif %}
            </tr>
          {% empty %}
          <tr>
            <td colspan="4">
              У вас пока нет заявок на бронирование помещений.
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
