{% extends 'room/base_room.html' %}

{% block title %}
  {{ block.super }} - {{ room.title }}
{% endblock %}

{% block content %}
{{ block.super }}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h5><a href="{% url 'rooms_list_url' %}" class="back-btn">Назад</a></h5>
      <h2 class="mt-4">Общая информация:</h2>
      <h4 class="mt-4 mb-4">{{ room.title }}</h4>
      <h5>Адрес: {{ room.address }}</h5>
      <h5>Время: {{ room.time }}</h5>
      <h5>Свободное количество мест: {{ room.seats }}</h5>
      <h2 class="mt-4">Доступные дни для бронирования:</h2>
      {% if room.months.exists %}
        {% for month in room.months.all %}
          <div class="rooms card mt-4">
            <div class="card-body">
              <h4>{{ month.name }}</h4>
              {% if month.days.exists %}
                {% for day in month.days.all %}
                  <div class="accordion mt-4" id="accordion-{{ day.id }}">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="panelsStayOpen-heading-{{ day.id }}">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#panelsStayOpen-collapse-{{ day.id }}"
                          aria-expanded="false"
                          aria-controls="panelsStayOpen-collapse-{{ day.id }}"
                        >
                          {{ day.date|date:"d.m.Y" }} - {{ day.name }}
                        </button>
                      </h2>
                      <div
                        id="panelsStayOpen-collapse-{{ day.id }}"
                        class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-heading-{{ day.id }}"
                      >
                        <div class="accordion-body">
                          <ul class="list-group">
                            {% for booking_date in day.booking_dates.all %}
                              {% if booking_date.is_available %}
                                <li class="list-group-item">
                                  <a
                                    href="#"
                                    class="link"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modal{{ booking_date.id }}"
                                    data-time-link
                                  >
                                    {{ booking_date.start_time }} - {{ booking_date.end_time }}
                                  </a>
                                </li>
                                {% include 'room/components/room_modal.html' %}
                              {% endif %}
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% else %}
              <tr>
                <td colspan="4">
                  Доступных дней для бронирования нет
                </td>
              </tr>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% else %}
      <h5 class="mt-4">Нет доступных дней для бронирования.</h5>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}